
@font-face {
    font-family: 'Bebas-Neue-Thin';
    src:url('../fonts/Bebas-Neue-Thin.ttf.woff') format('woff'),
        url('../fonts/Bebas-Neue-Thin.ttf.svg#Bebas-Neue-Thin') format('svg'),
        url('../fonts/Bebas-Neue-Thin.ttf.eot'),
        url('../fonts/Bebas-Neue-Thin.ttf.eot?#iefix') format('embedded-opentype');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'bebasregular';
    src: url('../fonts/BEBAS___-webfont.eot');
    src: url('../fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BEBAS___-webfont.woff') format('woff'),
         url('../fonts/BEBAS___-webfont.ttf') format('truetype'),
         url('../fonts/BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html{
  cursor: default;
	font-family: 'Open Sans';

}

body {
  font-family: 'Open Sans';
  font-weight: 300;
  color: $lt-grey;
  color: black;
  background-color: black;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
  font-size: $base-font-size;
  line-height: $base-line-height;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bebas-Neue-Thin';
  color: $white;
  margin-top: 0.4vh;
  margin-bottom: 0.4vh;
  line-height: 1.2;
  font-weight: 600;
}

h1 {
  font-size: 4em;
  text-transform: uppercase;
}
h2 {
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 3em;
  text-transform: uppercase
}
h3 {
  font-size: 1.5em;
  text-transform: uppercase
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Base Application Styles */
/*body {
  color: black;

  background: linear-gradient(180deg, #ffffff, #ff0000, #920e00);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 54s ease infinite;
  -moz-animation: AnimationName 54s ease infinite;
  -o-animation: AnimationName 54s ease infinite;
  animation: AnimationName 54s ease infinite;
}
  @-webkit-keyframes AnimationName {
      0%{background-position:51% 0%}
      50%{background-position:50% 100%}
      100%{background-position:51% 0%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:51% 0%}
      50%{background-position:50% 100%}
      100%{background-position:51% 0%}
  }
  @-o-keyframes AnimationName {
      0%{background-position:51% 0%}
      50%{background-position:50% 100%}
      100%{background-position:51% 0%}
  }
  @keyframes AnimationName {
      0%{background-position:51% 0%}
      50%{background-position:50% 100%}
      100%{background-position:51% 0%}
  }*/

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}
