img.profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrapper {
  background: none;
}

.main-wrapper{
  margin-bottom: 100vh;
  background-color: rgba(255,255,255, 0.4);
}

.main-wrapper .company{
  color: black;
}
.main-wrapper .section-title{
  color: black;
}
.main-wrapper p, .main-wrapper .time{
  color: black;
}

body{
  color: black;
}
